@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --font-display-family: var(--display-family);
  --font-display-weight: 600;
  --font-body-family: var(--body-family);
  --font-body-weight: 400;
}

@utility font-display {
  font-family: var(--font-display-family);
  font-weight: var(--font-display-weight);
}

@utility font-body {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #c022d3;
    --primary-foreground: #fff4ff;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #c022d3;
    --accent-foreground: #fff4ff;
    --destructive: #df2225;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a1a1a1;
    --chart-1: #eeabfb;
    --chart-2: #e979fb;
    --chart-3: #da47f1;
    --chart-4: #c022d3;
    --chart-5: #a419b1;
    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #c022d3;
    --sidebar-primary-foreground: #fff4ff;
    --sidebar-accent: #c022d3;
    --sidebar-accent-foreground: #fff4ff;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a1a1a1;
    --radius: 0;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #171717;
    --card-foreground: #fafafa;
    --popover: #171717;
    --popover-foreground: #fafafa;
    --primary: #da47f1;
    --primary-foreground: #fff4ff;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
    --accent: #da47f1;
    --accent-foreground: #fff4ff;
    --destructive: #ff6467;
    --border: #ffffff;
    --input: #ffffff;
    --ring: #737373;
    --chart-1: #eeabfb;
    --chart-2: #e979fb;
    --chart-3: #da47f1;
    --chart-4: #c022d3;
    --chart-5: #a419b1;
    --sidebar: #171717;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #e979fb;
    --sidebar-primary-foreground: #fff4ff;
    --sidebar-accent: #da47f1;
    --sidebar-accent-foreground: #fff4ff;
    --sidebar-border: #ffffff;
    --sidebar-ring: #737373;
    --radius: 0;
  }
}
